**/.idea/**
*/*.pyc
**/.ipynb_checkpoints/**
.idea/**
**/*.pyc
**/.pytest_cache/
**/.ipynb_checkpoints/
**/.pytest_cache
books/Deep-Learning-with-TensorFlow-2-and-Keras/Chapter_7/data/*
books/Deep-Learning-with-TensorFlow-2-and-Keras/Chapter_7/datasets/*
