[submodule "books/blueprints-text"]
	path = books/blueprints-text
	url = https://github.com/blueprints-for-text-analytics-python/blueprints-text.git
[submodule "spacy-wordnet"]
	path = spacy-wordnet
	url = https://github.com/argilla-io/spacy-wordnet.git
[submodule "resources/simple-object-detector-from-scratch"]
	path = resources/simple-object-detector-from-scratch
	url = https://github.com/doleron/simple-object-detector-from-scratch.git
[submodule "resources/dask-tutorial"]
	path = resources/dask-tutorial
	url = http://github.com/dask/dask-tutorial
