python=3.8

pylint
pytest
pytest-xdist

line_profiler
memory_profiler

numpy>=1.20
numexpr

pandas

scikit-learn
matplotlib
seaborn

tensorflow
tensorflow-datasets

nltk
clean-text
spacy
python-Levenshtein
gensim

jupyter
notebook
