#--------------------------------------------------------------------------------
# Python
#--------------------------------------------------------------------------------
wheel

#--------------------------------------------------------------------------------
# Python testing
#--------------------------------------------------------------------------------
pylint
pytest
pytest-xdist

#--------------------------------------------------------------------------------
# Python profiing
#--------------------------------------------------------------------------------
line_profiler
memory_profiler

#--------------------------------------------------------------------------------
# XML/HTML
#--------------------------------------------------------------------------------
beautifulsoup4
lxml

#--------------------------------------------------------------------------------
# Numerical processing
#--------------------------------------------------------------------------------
numpy>=1.20
numexpr
ray
numba

#--------------------------------------------------------------------------------
# Analytics
#--------------------------------------------------------------------------------
pandas
scikit-learn
matplotlib
seaborn
jupyter
notebook

#--------------------------------------------------------------------------------
# DNN
#--------------------------------------------------------------------------------
tensorflow
tensorflow-datasets
tensorflow_decision_forests
wurlitzer
pydeequ

#--------------------------------------------------------------------------------
# NLP
#--------------------------------------------------------------------------------
nltk
clean-text
spacy
python-Levenshtein
gensim

