# conda install --yes --file requirements.txt
#--------------------------------------------------------------------------------
# Python
#--------------------------------------------------------------------------------
pylint
pytest>=6.2.2
pytest-xdist
# pytest_check
line_profiler
memory_profiler
# ray # Need pip

#--------------------------------------------------------------------------------
# DS
#--------------------------------------------------------------------------------
jupyter
notebook
matplotlib
seaborn
pandas

#--------------------------------------------------------------------------------
# Math
#--------------------------------------------------------------------------------
numpy>=1.20.0
numexpr>=2.7.3
tensorflow>=2.4.0
numba

#--------------------------------------------------------------------------------
# NLP
#--------------------------------------------------------------------------------
# gensim # need pip
python-Levenshtein